<!doctype html>
<html lang = "en">
  <head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class = "top">
      <div id = "storeName">
      </div>
    </div>

    <div id = "listAndCard">
    </div>

    <div id = "container">
    </div>
  </body>
</html>
