<div>
    <span id = "seeList" gorilla-click = "listClick">
        <i class="material-icons md-48">
            list
        </i>
    </span>
    <span id = "seeCard" gorilla-click = "cardClick">
        <i class="material-icons md-48">
            view_module
        </i>
    </span>
</div>
