<div>
  <h1 gorilla-click = "reset"><%= name %></h1>

  <div class = "site-container">
    <form id = "search-form">
      <input id = "keyword" type = "text" maxlength = "20" required>
      <input id = "btn" type = "submit" value = "검색">
    </form>
  </div>
</div>
